<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Si el archivo o directorio solicitado existe, sírvelo directamente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Redirige todas las demás solicitudes a index.php
    RewriteRule ^(.*)$ /index.php [L]
</IfModule>
